@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.titles{
  font-family: "Quicksand", sans-serif;
}

.titles > h1 {
  color: #FFFFFF;
  font-weight: 700;
  position: relative;
  left: 650px;
  text-align: center;
  padding: 5px;
  background-color: rgba(51, 63, 70, 0.649);
  border-radius: 50px;
  width: 383px;
  
}

.titles > h2 {
  font-style: normal;
  color:#FFFFFF;
  background-color: rgba(62, 73, 80, 0.649);
  border-radius: 50px;
  width: 263px;
  position: relative;
  text-align: center;
  padding: 5px;
  left: 720px;
}

body{
  background-color:#1f1e1ec5;
}

.container{
  font-weight: 700;
  display: flex;
  justify-content: right;
  align-items: center;
  color:black;
  font-style: normal;
  flex-wrap: wrap;
  font-family: "Quicksand", sans-serif;
}